$TTL	604800
{{ startup_name }}.	IN	SOA	{{ vm2 }}.{{ startup_name }}. dmytro.{{ startup_name }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{{ startup_name }}.	IN	NS	{{ vm2 }}

{% for n in groups['all'] -%}
		{{ n }}	IN	A	{{ hostvars[n]['ansible_default_ipv4']['address'] }}
{% endfor %}

backup IN A {{ backup_server_ip }}