acl corpnets { 
  {% for n in network_localhost -%}
  {{ n }}; 
  {%- endfor -%} };
options {
  directory "/var/lib/bind";

  allow-query { corpnets; };

  forwarders {
    {% for n in DNS_forwarders %}
    {{ n }};
    {%- endfor %}
  };
};

statistics-channels {
  inet {{ localhost_address }} port 8053 allow { {{ localhost_address }}; };
};