global:
  scrape_interval:     15s 
  evaluation_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 5s
    scrape_timeout: 5s
    metrics_path: /prometheus/metrics

    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'linux'
    static_configs:
      - targets: 
{% for n in groups['all'] %}
        - {{ n }}:9100
{% endfor %}

  - job_name: 'mysql'
    static_configs:
      - targets: 
{% for n in groups['db_servers'] %}
        - {{ n }}:9104
{% endfor %}

  - job_name: 'bind9'
    static_configs:
      - targets: 
{% for n in groups['dns_servers'] %}
        - {{ n }}:9119
{% endfor %}

  - job_name: 'nginx'
    static_configs:
      - targets: 
{% for n in groups['nginx'] %}
        - {{ n }}:9113
{% endfor %}

  - job_name: 'InfluxDB'
    static_configs:
      - targets: 
{% for n in groups['influxdb'] %}
        - {{ n }}:9424
{% endfor %}
  
  - job_name: 'haproxy'
    static_configs:
      - targets: 
{% for n in groups['haproxy'] %}
        - {{ n }}:9101
{% endfor %}

  - job_name: 'keepalived'
    static_configs:
      - targets: 
{% for n in groups['keepalived'] %}
        - {{ n }}:9165
{% endfor %}